<form action="/" method="POST">
    <div>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" >
    </div>

    <div>
    <label for="quantity">Quantity</label>
    <input type="text" id="quantity" name="quantity">
    </div>

    <input type="submit" value="Add a Widget">
</form>

